#include <windows.h>
#include "resource.h"

IDD_MAIN_DIALOG DIALOG 0, 0, 320, 240
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "QuickCD Player"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL "", IDC_TRACK_LIST, "LISTBOX", LBS_NOTIFY | LBS_STANDARD | WS_VSCROLL | WS_BORDER | WS_TABSTOP, 7, 7, 150, 180

    GROUPBOX "Time", IDC_STATIC, 165, 7, 148, 60
    LTEXT "Current:", IDC_STATIC, 172, 20, 40, 12
    LTEXT "00:00.00", IDC_TIME_CURRENT, 215, 20, 60, 12
    LTEXT "Total:", IDC_STATIC, 172, 35, 40, 12
    LTEXT "00:00.00", IDC_TIME_TOTAL, 215, 35, 60, 12
    LTEXT "Track:", IDC_STATIC, 172, 50, 40, 12
    LTEXT "1 / 1", IDC_TIME_TRACK, 215, 50, 60, 12

    LTEXT "Ready", IDC_STATUS_TEXT, 7, 192, 306, 12

    GROUPBOX "Volume", IDC_STATIC, 165, 72, 148, 40
    CONTROL "", IDC_VOLUME_SLIDER, "msctls_trackbar32", TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_TABSTOP, 172, 85, 130, 20
    LTEXT "Volume: 100%", IDC_VOLUME_LABEL, 172, 105, 130, 12

    PUSHBUTTON "Play", IDC_BTN_PLAY, 7, 208, 50, 20
    PUSHBUTTON "Stop", IDC_BTN_STOP, 62, 208, 50, 20
    PUSHBUTTON "Pause", IDC_BTN_PAUSE, 117, 208, 50, 20
    PUSHBUTTON "<<", IDC_BTN_PREV, 172, 208, 40, 20
    PUSHBUTTON ">>", IDC_BTN_NEXT, 217, 208, 40, 20
    PUSHBUTTON "Eject", IDC_BTN_EJECT, 262, 208, 65, 20
END

STRINGTABLE
BEGIN
    IDS_APPNAME        "QuickCD"
    IDS_READY          "Ready"
    IDS_PLAYING        "Playing"
    IDS_PAUSED         "Paused"
    IDS_STOPPED        "Stopped"
    IDS_NODRIVE        "No CD-ROM drive detected"
    IDS_NOTOC          "Unable to read CD Table of Contents"
    IDS_ABOUT_TEXT     "Creative QuickCD\nOpen Source Reconstruction\n\nOriginal by Creative Technology\nDOS: PH Beh, Andy\nWindows: Nigel Tan"
END
